<?xml version='1.0' encoding='utf-8'?>
<widget id="com.konectivity.one" version="0.0.18" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cut-short</name>
    <description>

    </description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">
      Cut-short Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="http://54.88.187.36" subdomains="true" />
    <access origin="http://54.88.187.36:3000/auth/linkedin/callback" subdomains="true" />
    <access origin="http://54.88.187.36:3000/auth/linkedin/*" subdomains="true" />
    <access origin="http://54.172.235.48:3000" subdomains="true" />
    <access origin="http://54.209.43.90:3000" subdomains="true" />
    <access origin="http://54.187.184.106:3000" subdomains="true" />
    
    <preference name="websecurity" value="disable" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <icon src="/platforms/android/res/drawable/icon.png" />
    <!-- Don't store local date in an iCloud backup. Turn this to "cloud" to enable storage 
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>

        <feature name="PushPlugin">
    <param name="ios-package" value="PushPlugin" />
    </feature>

    <feature name="PushPlugin">
  <param name="android-package" value="com.plugin.gcm.PushPlugin" />
</feature>

</widget>